body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617, #000);
  color: #e2e8f0;
  text-align: center;
  margin-top: 15%;
}

button {
  background: #38bdf8;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #f97316;
  color: white;
}
